{% extends 'AppBundle:Front:base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="maps-contact" id="map-contact"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3>Kontak Kami</h3>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fullName">Nama Lengkap*</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Nama Lengkap">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="subject">Subyek*</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subyek">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="message">Pesan*</label>
                            <textarea class="form-control" id="subject" placeholder="Subyek"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-success btn-block">Kirim</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Kunjungi Kami</h3>
            {{ kunjungiKami.settingValue | raw }}
            <hr>
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i> <b>Alamat:</b> {{ alamat.settingValue }}</li>
                <li><i class="fa fa-phone"></i> <b>Telepon:</b> {{ telepon.settingValue }}</li>
                <li><i class="fa fa-fax"></i> <b>Fax:</b> {{ fax.settingValue }}</li>
            </ul>
            <hr>
            {{ jamOperasional.settingValue | raw }}
        </div>
    </div>


    <script type="text/javascript">
        var locations = [
            ['Bahana Bandung2', -6.9419244, 107.6074041, 18.75, 2],
            ['Bahana Bandung1', -6.9490189, 107.6091642, 18, 1]
        ];

        var map = new google.maps.Map(document.getElementById('map-contact'), {
            zoom: 15,
            center: new google.maps.LatLng(-6.947229, 107.61, 15),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker
            ({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>
{% endblock %}