{% extends "AppBundle:Secured:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('angApp/controller/secured/partController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/part/createModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/part/detailModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/part/updateModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/part/deleteModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/partUkuran/createModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/partUkuran/updateModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/partUkuran/deleteModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/partPhoto/createModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/partPhoto/deleteModalController.js') }}"></script>
    <script src="{{ asset('angApp/resource/part.js') }}"></script>
    <script src="{{ asset('angApp/resource/partPhoto.js') }}"></script>
    <script src="{{ asset('angApp/resource/partUkuran.js') }}"></script>
    <script src="{{ asset('angApp/resource/kategoriPart.js') }}"></script>
    <script src="{{ asset('angApp/resource/ukuran.js') }}"></script>
    <script src="{{ asset('angApp/part.js') }}"></script>
    <script src="{{ asset('angApp/partPhoto.js') }}"></script>
    <script src="{{ asset('angApp/partUkuran.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row" ng-controller="PartController" style="margin-top: 10px;" cg-busy="main">
        <div class="col-lg-12">
            <button ng-click="createPart()" type="button" class="btn btn-primary"><i
                        class="fa fa-plus"></i> Tambah Part
            </button>
        </div>
        <div class="col-lg-12" style="margin-top: 10px;">
            <div class="table-responsive" style="max-height: 500px; overflow: auto;">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th style="cursor: pointer;" ng-click="sortData('kategori_part.nama')">
                            Kategori Part
                                            <span ng-if="sorting == 'kategori_part.nama'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th style="cursor: pointer;" ng-click="sortData('nama')">
                            Nama
                                            <span ng-if="sorting == 'nama'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th style="cursor: pointer;" ng-click="sortData('aktif')">
                            Aktif
                                            <span ng-if="sorting == 'aktif'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="part in parts | filter : searchFilter | orderBy : sorting : sortingReverse">
                        <td>[[ part.kategori_part.nama ]]</td>
                        <td>[[ part.nama ]]</td>
                        <td>
                            <input type="checkbox" name="aktif" value="1" ng-model="part.aktif"
                                   ng-change="toogleActive(part)">
                        </td>
                        <td>
                            <button ng-click="updatePart(part)" type="button"
                                    class="btn btn-warning btn-circle"><i class="fa fa-pencil"></i></button>
                            <button ng-click="detailPart(part)" type="button"
                                    class="btn btn-info btn-circle" title="Detail Part"><i
                                        class="fa fa-file"></i></button>
                            <button ng-click="deletePart(part)" type="button"
                                    class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="parts.length == 0">
                        <td colspan="100">Belum ada data yang bisa ditampilkan.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}