{% extends "AppBundle:Secured:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('angApp/controller/headlineController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/headline/createModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/headline/updateModalController.js') }}"></script>
    <script src="{{ asset('angApp/modalController/headline/deleteModalController.js') }}"></script>
    <script src="{{ asset('angApp/headline.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row" ng-controller="HeadlineController" style="margin-top: 10px;" cg-busy="main">
        <div class="col-lg-12">
            <button ng-click="createHeadline()" type="button" class="btn btn-primary"><i
                        class="fa fa-plus"></i> Tambah Headline
            </button>
        </div>
        <div class="col-lg-12" style="margin-top: 10px;">
            <div class="table-responsive" style="max-height: 500px; overflow: auto;">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Foto</th>
                        <th style="cursor: pointer;" ng-click="sortData('nama')">
                            Nama
                                            <span ng-if="sorting == 'nama'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th style="cursor: pointer;" ng-click="sortData('seed')">
                            Seed
                                            <span ng-if="sorting == 'seed'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th style="cursor: pointer;" ng-click="sortData('aktif')">
                            Aktif
                                            <span ng-if="sorting == 'aktif'">
                                                <i class="fa fa-chevron-up" ng-hide="sortingReverse"></i>
                                                <i class="fa fa-chevron-down" ng-show="sortingReverse"></i>
                                            </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="headline in headlines | filter : searchFilter | orderBy : sorting : sortingReverse">
                        <td class="centered">
                            <img style="width: 150px" ng-src="[[ base_url + headline.url ]]">
                        </td>
                        <td>[[ headline.nama ]]</td>
                        <td>[[ headline.seed ]]</td>
                        <td>
                            <input type="checkbox" name="aktif" value="1" ng-model="headline.aktif"
                                   ng-change="toogleActive(headline)">
                        </td>
                        <td>
                            <button ng-click="updateHeadline(headline)" type="button"
                                    class="btn btn-warning btn-circle"><i class="fa fa-pencil"></i></button>
                            <button ng-click="deleteHeadline(headline)" type="button"
                                    class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="headlines.length == 0">
                        <td colspan="100">Belum ada data yang bisa ditampilkan.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}